.m-auto {margin: auto}
.navbar-menu {
    background-color: transparent;
    display: block;
    
}
.navbar-start {display: flex;}
.navbar-item {color: white}

@media screen and (max-width: 400px) {
    .section {
        padding: 2rem 0.75rem;
    }
}

